.advantages {
  padding-bottom: 5.6rem;
  scroll-padding: 20px;
  display: flex;
  gap: 30px;
  scroll-margin: 1rem;
  scroll-snap-align: start;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__img {
  max-width: 170px;
}

.item__title {
  font-family: "Open Sans";
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.item__overview {
  font-size: 1.125rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .advantages {
    padding-bottom: 50px;
    gap: 20px;
  }

  .item__img {
    max-width: 147px;
  }

  .item__title {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }

  .item__overview {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .advantages {
    padding-bottom: 60px;
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .item__img {
    max-width: 147px;
  }

  .item__title {
    font-size: 18px;
  }

  .item__overview {
    font-size: 14px;
  }
}
