.advantages {
  font-size: 0;
  padding-bottom: 5.6rem;
}

.advantages__item {
  display: inline-block;
  text-align: center;
  width: 33.3%;
}

.item__title {
  font-family: "Open Sans";
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.item__overview {
  font-size: 1.125rem;
}
