.banner {
  background: url(../assets/images/banner__background.jpg);
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  object-position: center;
  position: relative;
  min-height: 950px;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.banner__container {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  padding: 17.5rem 0 11.25rem 0;
  gap: 1.875rem;
  z-index: 3;
}

.banner__text {
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
  flex-basis: 41.875rem;
  align-items: flex-start;
}

.banner__tagline {
  font-size: 3rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.banner__tagline::after {
  content: "";
  background-color: #fff;
  height: 1px;
  display: block;
  max-width: 10.625rem;
  margin-bottom: 2.6rem;
  margin-top: 3.43rem;
}

.banner__description {
  font-size: 1.125rem;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.banner__button {
  font-family: "Open Sans";
  font-size: 1.125rem;
  text-transform: capitalize;
  color: #ffffff;
  padding: 1.1rem 6.5rem;
  text-align: center;
  border: 1px solid #fff;
}

.banner__form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
}

.form__label {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 1.5rem 3.3125rem 0px 3.3125rem;
}

.form__input {
  padding: 10px;
  height: 2rem;
  margin: 0px 3.125rem 0px 3.125rem;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}

.form__button {
  background: #ec7979;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.9rem;
  color: #ffffff;
  border: none;
  padding: 1.9rem 0px 1.9rem 0px;
  border-radius: 0px 0px 10px 10px;
}

@media (max-width: 768px) {
  .banner {
    min-height: 43.3rem;
  }
  .banner__container {
    padding: 8.56rem 0 8.25rem 0;
    gap: 2.25rem;
  }

  .banner__text {
    gap: 2.125rem;
    flex-basis: 7.875rem;
  }

  .banner__tagline {
    font-size: 2.25rem;
    line-height: 2.625rem;
  }

  .banner__tagline::after {
    max-width: 7.187rem;
    margin-bottom: 31px;
    margin-top: 2.59rem;
  }

  .banner__description {
    font-size: 14px;
    text-align: left;
  }

  .banner__button {
    font-size: 1.125rem;

    padding: 1.1rem 4.5rem;
  }

  .form__label {
    font-size: 1.25rem;
    padding: 1.5rem 50px 0px 50px;
  }

  .form__input {
    height: 2rem;
    margin: 0px 50px;
  }

  .form__button {
    font-size: 15px;

    padding: 1.5rem 0px;
  }
}

@media (max-width: 320px) {
  .banner {
    min-height: 59.31rem;
  }

  .banner__container {
    flex-direction: column;
    padding: 5.25rem 0 50px 0;
    gap: 3.5rem;
    z-index: 3;
    align-items: center;
  }

  .banner__text {
    flex-direction: column;
    gap: 2.625rem;
    flex-basis: 18rem;
    align-items: center;
    text-align: center;
  }

  .banner__logo {
    display: none;
  }

  .banner__tagline::after {
    max-width: 8.37rem;
    margin-bottom: 0;
    margin-top: 2.625rem;
    margin-left: 4.875rem;
  }

  .banner__description {
    font-size: 14px;
    text-align: center;
  }

  .banner__button {
    padding: 1.1rem 3.5rem;
  }

  .banner__form {
    gap: 33px;
  }

  .form__label {
    font-size: 14px;
    padding: 24px 3.3125rem 0px 3.3125rem;
  }

  .form__input {
    margin: 0px 24px;
  }

  .form__button {
    font-size: 15px;
    padding: 1.5rem 0px 1.5rem 0px;
  }
}
