.header {
  height: 76px;
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index: 25;
  scroll-padding: 3rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__items {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  justify-content: space-around;
}

.menu__item {
  text-transform: capitalize;
  font-family: "Open Sans";
  font-size: 0.875rem;
  color: #ffffff;
  direction: none;
}

.item__link {
  text-decoration: none;
  color: #ffffff;
}
