.reviews__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}

.reviews__review {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0.9rem;
}

/* .review__descriptions {
  padding-bottom: 3rem;
  position: relative;
} */

.review__description {
  background: #e2e2e2;
  padding: 2.375rem 0.625rem;
  font-size: 1.125rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 3.125rem;
  position: relative;
}

.review__description::after {
  width: 0;
  height: 0;
  content: "";
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 3rem solid #e2e2e2;
  position: absolute;
  margin-top: 3rem;
  left: 3rem;
}

.review__customer {
  display: flex;
  justify-content: start;
}

.customer__titles {
  padding-left: 1.8rem;
}

.tittles__name {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #000000;
  padding-bottom: 1.2rem;
}

.tittles__vacancy {
  font-size: 1.125rem;
  color: #000000;
}
