.social {
  background-color: #f8efef;
  margin-bottom: 6rem;
  padding: 10px;
}

.social__container {
  display: flex;
  gap: 1.9rem;
  align-items: center;
}

.text__label {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #333333;
}

.text__description {
  font-size: 1.125rem;
  color: #86878b;
  padding: 1.125rem 0;
}

.social__adress{
  display: flex;
  gap: 1.9rem;
}
