.tabs {
  font-family: "Open Sans";
  padding-bottom: 70px;
  scroll-margin: 3rem;
  scroll-snap-align: start;
}

.tab__title {
  color: #333333;
  font-size: 0.875rem;
  padding: 8px 4.25rem;
  text-transform: uppercase;
}

.tab__title--chosen {
  position: relative;
  top: 2px;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #c6cbcd;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}

.tabs__tab {
  display: flex;
  border: 1px solid #c6cbcd;
  /* gap: 30px; */
  justify-content: space-around;
}

.tab__description {
  padding-left: 6.25rem;
}

.description__title {
  font-size: 1.875rem;
  padding: 27px 0 27px 0;
}

.description__text {
  font-family: "Raleway";
  font-size: 1.125rem;
  padding-bottom: 27px;
}

.description__button {
  font-size: 1.125rem;
  border: none;
  background-color: #ec7979;
  color: #fff;
  padding: 1.25rem 5.5rem;
  text-transform: capitalize;
  margin-bottom: 3.125rem;
}

.tab__img {
  min-height: 31.25rem;
}

@media (max-width: 1024px) {
  .tabs {
    padding-bottom: 50px;
  }

  .tab__title {
    padding: 10px 4.25rem;
  }

  .tabs__tab {
    gap: 26px;
  }

  .tab__description {
    padding-left: 5.25rem;
  }

  .description__title {
    font-size: 1.875rem;
    padding: 38px 0;
  }

  .description__text {
    font-size: 14px;
    padding-bottom: 38px;
  }

  .description__button {
    padding: 1.25rem 3.5rem;
    margin-bottom: 50px;
  }

  .tab__img {
    min-height: 24rem;
  }
}

@media (max-width: 320px) {
  .tabs {
    padding-bottom: 30px;
  }

  .tab__title {
    font-size: 14px;
    padding: 10px 22px;
  }

  .tabs__tab {
    justify-content: center;
    text-align: center;
  }

  .tab__description {
    padding: 0 20.57px;
  }

  .description__title {
    font-size: 18px;
    padding: 20px 0;
  }

  .description__text {
    font-size: 13px;
    padding-bottom: 29px;
  }

  .description__button {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .tab__img {
    display: none;
  }
}
